<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

  <!--  <insert id="saveboard" parameterType="memo">
        INSERT INTO BOARD VALUES (
                                    SEQ_BOARDNO.NEXTVAL,#{memo},SYSDATE
                                )
    </insert>-->

    <select id="selectBoardList" resultType="board">
        SELECT * FROM BOARD
    </select>

    <select id="countBoardList" resultType="int">
        SELECT COUNT(*) FROM BOARD
    </select>
</mapper>