<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo">
    <insert id="insertdemo" parameterType="demo">
        INSERT INTO DEMO VALUES(SEQ_DEV_NO.NEXTVAL,
                                #{devName},
                                #{devAge},
                                #{devEmail},
                                #{devGender},
                                <foreach item="l" collection="devLang" open="'" close="'" separator=",">${l}</foreach>
                                )
    </insert>

    <resultMap id="demoMap" type="demo">
        <result column="devLang" property="devLang"
        typeHandler="strArr"/>
    </resultMap>

    <select id="selectDemoList" resultMap="demoMap">
        SELECT * FROM DEMO
    </select>
</mapper>