<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <!--settings, typeAlias만 설정-->
    <!--순서를 지켜야함.-->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.bs.spring.demo.model.dto.Demo" alias="demo"/>
        <typeAlias type="com.bs.spring.common.StringArrayTypeHandler" alias="strArr"/>
        <typeAlias type="com.bs.spring.member.model.dto.Member" alias="member"/>
    </typeAliases>

</configuration>